:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --error-bg: #f8d7da;
  --error-border: #f1aeb5;
  --error-color: #58151c;

  --font-weight-light: 300;
  --font-weight-normal: 600;
  --font-weight-bold: 800;

  --font-size-home-page: 14px;
  --font-size-detail-page: 16px;

  --border-radius: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-size-home-page);
  font-weight: var(--font-weight-normal);
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

body.dark-mode {
  background-color: var(--very-dark-blue);
  color: var(--white);
}
