:root {
	--moderate-blue: hsl(238, 40%, 52%);
	--light-gray-blue: hsl(239, 57%, 85%);
	--soft-red: hsl(358, 79%, 66%);
	--pale-red: hsl(357, 100%, 86%);
	--dark-blue: hsl(212, 24%, 26%);
	--gray-blue: hsl(211, 10%, 45%);
	--light-gray: hsl(223, 19%, 93%);
	--very-light-gray: hsl(228, 33%, 97%);
	--white: hsl(0, 0%, 100%);

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-size: 16px;

  --border-radius: 1rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: var(--font-size);
	font-weight: var(--font-weight-normal);
	background-color: var(--light-gray);
	color: var(--gray-blue);
}
